.fontchu{
    font-family: 'Exo', sans-serif;
}
/* SAN PHAM BAN CHAY */
.Section3{
    margin-bottom: 0;
    justify-content: center;
}

.container3{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Frame{
    background-color: #f85032;
    border-radius: 5px;
    margin-bottom: 40px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.25px;
    
    margin-left: auto;
    margin-right: auto;
    max-width: 1010px; /*important*/
    max-height: 352px;/*important*/

    
}

.promotion_title{
    padding: 10px;
    font-weight: 600;
    color: white;
    display: block;
    font-size: 23px;
    text-align: left;
    text-decoration:none ;
}

.Frame-item {
    margin: auto;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 5px 5px 5px;
    margin-top: -5px;
}

.Frame-each-item{
    flex: 200px 200px 200px;
    max-width: 200px;
    min-width: 200px;
    float:left;
    
}

.product-item{
    padding: 4px;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.image-product-item{

}

.image-SPBC{
    width: 155px;
    height: 155px;
}

.space{
    margin-bottom: 5px;
    padding-top: 8px;
}

.promotion_SP{
    text-align: center;
    font-size: 13px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: unset;
    max-height: 30.76px;
    min-height: 30.76px;
    color:black;
    font-weight: 600;;
    text-decoration:none ;

}

.price-box{
    padding-bottom: 8px;
    text-align: center;
}

.price{
    font-weight: 500;
    font-size: 20px;
    color: #c0972f;
    text-align: center;
    font-family: 'Exo', sans-serif;
}

/* DANH MUC SAN PHAM */
.Section4{
    margin-bottom: 0;
    font-weight: 400;
    display: block;
}

.container4{
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 540;
    width: 100%;
    margin-left: auto;
    
}

.Frame_DMSP{
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px; /*important*/
   
}

.title_DMSP{
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    
}

.promotion_title_DMSP{
    color: #1c1c1c;
    text-decoration:none ;
    font-family: 'Exo', sans-serif;

}

.row_DMSP{
    padding-left: 7%;
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
   
}

.col_DMSP{
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
   
}

.image_DMSP{
    width: 266x;
    height: 136px;
}

